<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juliejohnson.voicegenderpavlok">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceGenderPavlokMonitor">

        <!-- Activities -->
        <activity android:name="com.juliejohnson.voicegenderpavlok.ui.EnrollmentActivity" android:exported="false" />
        <activity android:name="com.juliejohnson.voicegenderpavlok.ui.enrollment.EnrollmentHistoryActivity" android:exported="false"/>
        <activity android:name="com.juliejohnson.voicegenderpavlok.ui.SpeakerTestActivity" />
        <activity android:name=".ui.AnalysisActivity" android:exported="false"/>
        <!--        <activity android:name=".ui.SettingsActivity" android:exported="false" />-->
<!--        <activity android:name=".ui.LogsActivity" android:exported="false" />-->

        <activity android:name="com.juliejohnson.voicegenderpavlok.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Foreground Service -->
        <service
            android:name="com.juliejohnson.voicegenderpavlok.VoiceMonitorService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
</manifest>
